.wrapper{
  height: 100vh;
  width: 100vw;
  background-image: url(https://pics.prcm.jp/ab1d99bb85215/82412633/jpeg/82412633.jpeg);
  background-size: cover;
  overflow: scroll;
}

.header{
  height: 62px;
  background-image: url(https://image.shutterstock.com/z/stock-vector-abstract-blurred-gradient-mesh-background-in-bright-rainbow-colors-colorful-smooth-banner-template-460041640.jpg);
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 10px;
  

  .header-bar{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    &__grid-6{
      font-size: 25px;
      line-height: 41px;
      letter-spacing: 5px;
      font-family: Arial, Helvetica, sans-serif;
      a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-shadow: -5px -2px 3px white;
      }
    }
    &__user-nav{
      //font-size: 20px;
      //line-height: 41px;
      display: flex;
      //padding: 0 10px;
      text-align: center;
      //border-radius: 5px;
      //display: flex;
      align-items: center;
      span{
        color: black;
      }
      a{
        text-decoration: none;
        //border: 2px solid white;
        padding: 5px;
        //border-radius: 5px;
      }
    }
  }
}

.form{
  //display: flex;
  //align-items: center;
  .search-form{
    text-align: center;
    //display: flex;
    .search-input{
      margin: 20px ;
      height: 40px;
      border: 2px solid ;
      border-radius: 10px;
      width: 350px;
      padding: 0 5px;
    }
    .search-btn{
      height: 40px;
      width: 80px;
      border: 2px solid;
      border-radius: 15px;
      background: lightblue;
    }
  }
}


.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__post{
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);  
    color: black;
    p{
      //position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      text-shadow: -1px -1px 3px white;
      font-weight: bold;
      //z-index: 2;
      //font-weight: bold;
      //text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    span{
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      //font-size: 13px;

      a{
        text-decoration: none;
        text-shadow: -1px -1px 3px white;
      }
      
    }
    &__more{
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 80px;
      a{
        text-decoration: none;
        text-shadow: -1px -1px 3px white;
        text-shadow: white;
      }
    }
  }
  &__containers{
    margin: 20px 0;
    padding: 30px;
    //box-shadow: 0 0 10px rgba(41,41,41,0.2);
    //background-color: white;
    //box-sizing: border-box;
    //display: block;
    form{
      border-radius: 10px;
      textarea{
        display: flex;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 400px;
        height: 100px;
      }
    }
    &__comments{
      margin: 10px;
      padding: 10px;
      h4{
        text-align: center;
        margin-bottom: 10px;
      }
      p{
        a{
          text-decoration: none;
        }
      }
    }
  }
}









